In [30]:
import pandas as pd
import requests
import s3fs

def get_temperature():
    ''' This function can be replaced with any API that returns temperature data '''
    
    url = 'https://www.metoffice.gov.uk/pub/data/weather/uk/climate/stationdata/bradforddata.txt'
    response = requests.get(url)
    with open('bradforddata.txt', 'wb') as f:
        f.write(response.content)
    with open('bradforddata.txt', 'r') as f:
        lines = f.readlines()
    data = lines[7:]
    data = [x.split() for x in data]
    df = pd.DataFrame(data, columns=['Year', 'Month', 'Tmax', 'Tmin', 'AF', 'Rain', 'Sun','as'])
    
    return df[['Year', 'Month', 'Tmax', 'Tmin']]

In [31]:
get_temperature()

      Year Month  Tmax  Tmin
0     1908     1   5.0  -1.4
1     1908     2   7.3   1.9
2     1908     3   6.2   0.3
3     1908     4   8.6   2.1
4     1908     5  15.8   7.7
...    ...   ...   ...   ...
1388  2023     9  20.4  12.3
1389  2023    10  14.1   8.2
1390  2023    11   9.3   4.2
1391  2023    12   8.6   4.0
1392  2024     1   6.7   2.1

[1393 rows x 4 columns]